.container {
  color: var(--textSoft);
  display: flex;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--bgSoft2);
  border-radius: 8px;
}

.infoContainer {
  flex: 1;
  background-color: var(--bgSoft);
  height: max-content;
  padding: 1rem;
  border-radius: 6px;
}

.imageContainer {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.formContainer {
  background-color: var(--bgSoft);
  padding: 1rem;
  border-radius: 8px;
  flex: 3;
}

.form {
  --margin: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form label {
  margin: 0 var(--margin) 0 0;
}

.form :is(input, textarea, select) {
  width: 100%;
  background-color: var(--bgSoft);
  padding: 1rem;
  border-radius: 8px;
  margin: 0.5rem 0 var(--margin) 0;
  font-size: medium;
  outline: none;
  border: 1.8px solid rgb(126, 126, 126);
  color: var(--textSoft);
  appearance: none;
}

.form textarea,
.form textarea::placeholder {
  font-size: 1.1rem;
}

.form select:focus-visible,
.form input:focus-visible,
.form textarea:focus-visible,
.form button:focus-visible {
  border: 2px solid rgb(126, 126, 183);
}

.imageLabel {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  background-color: rgb(110, 110, 228);
  border: 1.8px solid rgb(246, 246, 246);
  color: var(--textSoft);
  transition: all ease-in-out 300ms;
}

.imageLabel:hover {
  background-color: rgb(93, 93, 238);
  border: 1.8px solid rgb(235, 142, 142);
}
.imageInput {
  display: none;
}

.form button {
  color: black;
  padding: 0.8rem;
  width: 100%;
  margin: var(--margin) 0;
  font-size: large;

  background-color: #56efaf;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.form button:hover {
  background-color: #19fb9b;
  box-shadow: 5px 6px 0px rgb(142, 141, 141);
}

.form button:active {
  box-shadow: 5px 6px 0px rgb(142, 141, 141);
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.numberInput {
  appearance: none;
  -moz-appearance: textfield !important;
}
@media (max-width: 1024px) {
  .form :is(input, textarea, select, button) {
    width: 100%;
  }
}
