.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  color: black;
  outline: none;
  border: 2px solid rgba(71, 71, 71, 0.6);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(108, 175, 175);
}

.disabled {
  visibility: hidden;
}
